/* ------------------------ */
/* NAVBAR ET MENU DEROULANT */
/* ------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
    a {
        text-decoration: none;
    }
    .img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }

    h3 span {
        font-family: 'Ubuntu', sans-serif;
        font-size: 0.50em;
        color: black;
    }

    .spanps {
        font-size: 0.65em;
        color: black;
    }

    .custom-pl-10 {
        padding-right: 10px;
        text-decoration: none;
    }

    .custom-dropdown-menu .dropdown-item {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .custom-dropdown-menu .dropdown-item:active {
        color: black;
    }

    .custom-dropdown-menu .dropdown-item:hover {
        background-color: transparent;
    }

    .limenunav:hover {
        background: rgba(112, 112, 112, 0.5);
    }
    .limenunav a div{
        color:black;
    }
    
/* ------*/
/* HOME  */
/* ----- */

.boxhome{
    padding: 30 0;
}
.custom-card-image {
    height: 200px;
}

.boxvideo {
    color: black;
}

.boxvideo div p {
    font-size: 14;
}

/* ---------*/
/* PROFILE  */
/* -------- */

.navprofile {
    color: black;
}

.nav-link {
    text-transform: uppercase;
    color: rgb(211, 211, 211);
}

.nav-link:hover {
    color: fff;
}


/* ------------------------ */
/*  Formulaire login autre  */
/* ------------------------ */

.cardform {
        border: none;
        border-top: 5px solid rgb(176, 106, 252);
        background: #212042;
        color: #57557A;
    }

    .titre-form {
        font-weight: 600;
        font-size: 15px;
    }

    .fab {
        font-size: 40;
    }

    .fab:hover {
        cursor: pointer;
    }

    .fa-twitter {
        color: #56ABEC;
    }

    .fa-facebook {
        color: #1775F1;
    }

    .fa-google {
        color: #CB5048;
    }

    .division {
        float: none;
        position: relative;
        margin: 30px auto 20px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    .division .line {
        border-top: 1.5px solid #57557A;
        position: absolute;
        top: 13px;
        width: 25%;
    }

    .line.l {
        left: 45px;
    }

    .line.r {
        right: 45px;

    }

    .division span {
        font-weight: 600;
        font-size: 14px;
    }

    .myform {
        padding: 0 25px 0 33px;
    }

    .form-control {
        border: 1px solid #57557A;
        border-radius: 3px;
        background: #212042;
        margin-bottom: 20px;
        letter-spacing: 1px;
        color: white;
    }
    .form-control::placeholder{
        color: white;
    }
    .form-control:focus {
        border: 1px solid #57557A;
        border-radius: 3px;
        box-shadow: none;
        background: #212042;
        color: #fff;
        letter-spacing: 1px;
    }

    .bn {
        text-decoration: none;
        color: blueviolet;
    }

    .bn:hover {
        color: #fff;
        cursor: pointer;
    }

    .form-check-input {
        margin-top: 8px !important;
    }

    .btn-primary {
        background: linear-gradient(135deg, rgba(176, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 101%);
        border: none;
        border-radius: 50px;
    }

    .btn-primary:focus {
        box-shadow: none;
        border: none;
    }

    small {
        color: #F2CEFF;
    }

    .far.fa-user {
        font-size: 20px;
    }
/* ------------------------ */
/*         SideBar          */
/* ------------------------ */
.SideBarRow{
    margin-right: 0;
}

.col-md-2 div ul li {
    list-style: none;
}

.SideBarC {
    background-color: #0e0c28;
}

.SideBarTitre {
    color: #a4aadb;
    text-transform: uppercase;
}

.ion-icon {
    font-size: 25px;
}

.ion-icon-upload {
    font-size: 150px;
}

.lisideBar a div {
    color: #7a80b4;
}

.lisideBar:hover,
.lisideBar a div:hover {
    background-color: #242849;
    color: white;
}
.active-link {
    background-color: #242849;
}

.active-link a div{
    color: white;
}
/* ------------------------ */
/*          Video           */
/* ------------------------ */

.boxinfo_video {
    padding: 0 15px;
}

.boxinfo_social {
    padding: 0 5px;
}


.boxinfo_social_pt:hover {
    background: rgba(112, 112, 112, 0.5);
}

.btnsocial {
    border-radius: 50px;
    background: #e4e4e4;
}
.btnsocialcommenter {
    border-radius: 50px;
}
.btnsocial a,
.btnsocialcommenter a {
    color: black;
    text-decoration: none;
    padding: 4px 8px;
}

.btnlike {
    border-right: 1px solid #57557A;
}

.btnlike:hover{
    background: rgba(112, 112, 112, 0.5);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.btndislike:hover{
    background: rgba(112, 112, 112, 0.5);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.btnsocial-color-sd {
    background: transparent;
}

.like_ion {
    padding: 0 8px;
}

.dislike_ion {
    padding: 0 8px;
}
/* ------------------------ */
/* Auntre css des page que  */
/* ------------------------ */


 /* video regarde */
 .row_video {
    padding: 0 150px;
    margin-right: 0;

}

.titre_video {
    padding-top: 10px;
}

.profil_video {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.subscription-count {
    font-size: 12px;
}

.video_description {
    border-radius: 10px;
    background: #e4e4e4;
}

/* commentaire */
.box_commentaire {
    padding-left: 10px;
}

.comment-dislike-button,
.comment-like-button {
    cursor: pointer;
}

#commentTextarea{
    color: black;
    background: none;
    height: 25px;
}

#commentTextarea::placeholder{
    color: black;

}
/* video dans la bar latéral */
.titre_video_lateral {
    font-size: 11px;
}

.autre_video_lateral {
    color: #aaa;
    font-size: 10px;
}

.btn-annuller_commentaire:hover {
    background: rgba(112, 112, 112, 0.5);
}

.btn-annuller_commentaire {
    background-color: (0, 0, 0, 0.5);
    border-radius: 50px;
}

.btn_commenter {
    background-color: #3ea6ff;
    border-radius: 50px;
}

.btn_commenter:hover {
    background-color: #3ea6ff;
}

.comment-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.comment-content.collapsed {
    overflow: hidden;
    max-height: 3em;
}

.see-more-btn {
    display: block;
    cursor: pointer;
}

.box_video_lateral {
    padding-top: 5px;
}

.img_video_latera {
    border-radius: 5px;
    width: 100%;
    height: 66px;
}
/* PAGE de Settings */

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
}

.account-settings .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
}

.card-profil-settings {
    background: #272E48;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.form-control-box {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #1A233A;
    color: #bcd0f7;
}